<!DOCTYPE html>
<html>
  <head>
    <title>Trailhead Camp</title>
    <%= favicon_link_tag 'hut.ico' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44787524-8', 'auto');
      ga('send', 'pageview');

    </script>

    <!-- Mobile Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="container">
        <div class="left">
            <%= render 'shared/nav' %>
            <%= yield %>
            <%= render 'shared/footer' %>
        </div>
        <div class="right">
            <div class="gallery">
                <div class="image-group">
                    <%= image_tag "6.jpg" %>
                    <%= image_tag "8.jpg" %>
                </div>
                <div class="image-group">
                    <%= image_tag "5.jpg" %>
                    <%= image_tag "10.jpg" %>
                </div>
                <div class="image-group">
                    <%= image_tag "12.jpg" %>
                    <%= image_tag "9.jpg" %>
                </div>
            </div>
        </div>
    </div>

    <script>
      carouselTimer();
    </script>
  </body>
</html>
